*::selection
{
    background-color: transparent;
}
#ays_tooltip{
    display: none;
    position: absolute;
    width: fit-content;
    background-color: rgba(128,128,128,0.6);
    color: crimson;
    font-size: 12px;
    padding: 3px;
    border-radius: 9px 9px 9px 0;
}
#ays_tooltip p {
    margin:0;
    padding:0;
}